* {
  font-family: ubuntu;
}

body {
  background-color: rgb(57, 62, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px 22px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 10%);
}

h1 {
  color: white;
  margin: 0px 0px 10px 0px;
}

.item {
  display: flex;
  align-items: center;
}

.item-description {
  font-size: 1.1rem;
  padding: 5px;
  width: 200px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 2px;
  outline: none;
}

.item-completed:checked + .item-description {
  color: rgb(95, 95, 95);
  text-decoration: line-through;
}

.item-completed {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0px 5px 10px 0px;
}

.add,
.deleteItem {
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  padding: 8px 10px;
  color: white;
  background-color: #3c91e6;
  border: 0px;
  border-radius: 2px;
}

.deleteItem {
  background-color: rgb(255, 89, 89);
  margin: 5px 0px 0px 5px;
}
